* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(to right, #124e78b3, #024c84b0 );
}

main {
  background-color: white;
  width: 600px;
  border-radius: 10px;
  padding: 10px;
  margin: auto;
  box-shadow: 20px 10px 80px rgba(11, 0, 0, 0.749);
}

h1{
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  color: #24a3fd;
  background-color: #020122;  
}

h2 {
  text-decoration: underline;
  width: 30%;
}

p {
  color: #0e2552;
  text-align: justify;  
}
