/*tipos de fonte*/

/*
  - opentype (otf)
  - truetype (ttf)
  - embedded-opentype
  - truetype-aat
  - svg
*/


@font-face {
  font-family: 'Behind The Painter';
  src: url(fontes/Behind\ the\ Painter.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fresh Steak';
  src: url(fontes/Fresh\ Steak.otf) format('opentype');
}

h1 {
  font-family: 'Behind The Painter';
  font-size: 5em;
  font-weight: normal;
}

p {
  font-family: 'Fresh Steak';
  font-size: 3em;
  font-weight: normal;
}